h1{
    text-align: center;
    text-transform: uppercase;
}
p{
    text-align: justify;
    text-indent: 5000px;
}
img{
    width: 25px;
    height: 25px;
    vertical-align: super;
}
em{
    text-decoration: underline;
    text-transform: capitalize;
}
a{
    text-decoration: none;
}